@page "/"
@inject ChatSimple.Services.ITestSvc _testSvc
@inject NavigationManager _nav

<PageTitle>Login</PageTitle>
<div class="container-fluid">
    <div class="card" style="width: 50%; margin-left: 25%; margin-top: 10%">
        <div class="card-body">
            <h1 class="text-center">Login To Chat Dual</h1>
            <p style="color: red">@state</p>
            <EditForm FormName="Login" OnSubmit="@CheckLogin" Model="_account">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <InputText class="form-control" @bind-Value=_account.email required></InputText>
                </div>
                <div class="form-group">
                    <label class="form-label">Password</label>
                    <InputText class="form-control" @bind-Value=_account.password required type="password"></InputText>
                </div>

                <input type="submit" class="btn btn-primary mt-2" value="Login" />
            </EditForm>
        </div>
    </div>
</div>